body {
  margin: 0;
  background-color: darkblue;
}

.component {
  background-color: dodgerblue;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  border: 5px solid white;
  filter: drop-shadow(0 0 1rem black);
}
